<InteractElement @draggable={{this._draggable}} @resizable={{this._resizable}} @x={{this.x}} @y={{this.y}} @width={{this.width}} @height={{this.height}} @onChange={{this.onChange}} @onChangeEnd={{this.onChangeEnd}} as |element|>
  <element.base @onDown={{this.select}} class={{if this.selected "interact--selected"}} @restrictToElement={{@restrictToElement}}>
    <div class="interact__inner">
      {{yield}}
    </div>
    {{#if this.showHandles}}
      {{#if this.hasUpperLeftHandle}}
        <div class="interact__handle interact__handle--corner interact__handle--ul"></div>
      {{/if}}
      {{#if this.hasUpperRightHandle}}
        <div class="interact__handle interact__handle--corner interact__handle--ur"></div>
      {{/if}}
      {{#if this.hasLowerLeftHandle}}
        <div class="interact__handle interact__handle--corner interact__handle--ll"></div>
      {{/if}}
      {{#if this.hasLowerRightHandle}}
        <div class="interact__handle interact__handle--corner interact__handle--lr"></div>
      {{/if}}

      {{#if this.hasTopCenterHandle}}
        <div class="interact__handle interact__handle--center interact__handle--tc"></div>
      {{/if}}
      {{#if this.hasRightCenterHandle}}
        <div class="interact__handle interact__handle--center interact__handle--rc"></div>
      {{/if}}
      {{#if this.hasBottomCenterHandle}}
        <div class="interact__handle interact__handle--center interact__handle--bc"></div>
      {{/if}}
      {{#if this.hasLeftCenterHandle}}
        <div class="interact__handle interact__handle--center interact__handle--lc"></div>
      {{/if}}
    {{/if}}
  </element.base>
</InteractElement>