<h1>ember-interact</h1>

<code>
  {{this.x}} : {{this.y}} / {{this.width}} x {{this.height}}
</code>
<p>
  <button type="button" {{on "click" this.reset}}>Reset</button>
  <button type="button" {{on "click" this.noop}}>Noop</button>
</p>

{{!-- template-lint-disable no-inline-styles --}}
<div style="width:600px; height: 600px; border: dashed red">
  <InteractCanvas as |canvas|>
    <canvas.widget @x={{this.x}} @y={{this.y}} @width={{this.width}} @height={{this.height}} @draggable={{true}} @resizable={{hash
        preserveAspectRatio=true
      }} @selectable={{true}} @selected={{this.selected}} @resizeHandles="corner" @onChangeEnd={{this.update}} @onSelect={{fn (mut this.selected) true}} @onDeselect={{fn (mut this.selected) false}}>
      <img src="https://placeimg.com/640/480/nature" alt="dummy" class="interact__image">
    </canvas.widget>
  </InteractCanvas>
</div>
